*{
    margin: 0px;
    padding: 0px;
}
#line{
    margin-top: 5px;
}

.nav_head {
    height: 25px;
    background-color: #f1f1f1;
    padding-top: 5px;
    vertical-align: baseline;
    padding-bottom: 5px;
}


.location{
    color: #999!important;
    font-size: 12px!important;
    font: inherit;
    margin-left: 135px;
    vertical-align: baseline;
    
}
.city{
    background-color: #fff;
    padding: 4px 30px 4px 18px;
    border-radius: 20px;
    margin-left: 3px;
    border: 1px solid #999;
    /* -webkit-transition: .3s; */
    transition: .3s;
    
}

.hiring{
    color: #ef534e!important;
    margin-left: 615px;
    text-decoration: none;
}

.vl {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1050px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .hwork{
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: rgb(129, 127, 127);
    padding: 8px 25px;
    display: inline-block;
    
  }
  .vl1 {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1140px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .lyb{
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: rgb(129, 127, 127);
    padding: 8px -10px;
    display: inline-block;
    text-decoration: none;

  }
  .vl2 {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1250px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .login{
    
    font-size: 11px;
    /* border: 0; */
    color: rgb(129, 127, 127);
    padding: 8px -10px;
    display: inline-block;
    text-decoration: none;
margin-left: 20px;
  }

    .logo  {
        height: 60px;
        width: auto;
      margin-left: 135px;
      padding-top: 2px;
  }
  div input{
    margin-left: 480px;
    height: 40px;
    width: 570px;
    display: inline-block;
    position: absolute;
    top: 55px;
  }
  .btn{
    background-color: #ef534e;
    color: #fff;
    border: 1px solid transparent;
    padding: 6px 18px;
    font-size: 14px;

    margin-left: 952.5px;
    height: 43px;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 55px;



}

#nav2 div{
display: flex;
margin: auto;
width: 80%;

}
#nav2 div p{
    margin-top: 80px;
    

    height: 30px;
    width:fit-content;
    /* text-align:center; */
    margin-left: -40px;

}

 
#nav2 img{
    
    height: 30px;
    margin-top: 35px;
    /* justify-content: space-between; */
    padding-left: 70px;
    
} 

#line1{
    margin-top: 40px;
}