*{
    margin: 0px;
    padding: 0px;
}
header{
  width:auto;
}
#line{
    margin-top: 5px;
}

.nav_head {
    height: 25px;
    background-color: #f1f1f1;
    padding-top: 5px;
    vertical-align: baseline;
    padding-bottom: 5px;
    position: sticky;
}



.location{
    color: #999!important;
    font-size: 12px!important;
    font: inherit;
    margin-left: 135px;
    vertical-align: baseline;
    
}

.navbar i{
  margin-left: 500px;
}
.city{
    background-color: #fff;
    padding: 4px 30px 4px 18px;
    border-radius: 20px;
    margin-left: 3px;
    border: 1px solid #999;
    /* -webkit-transition: .3s; */
    transition: .3s;
    
}

.hiring{
    color: #ef534e!important;
    margin-left: 615px;
    text-decoration: none;
}

.vl {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1050px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .hwork{
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: rgb(129, 127, 127);
    padding: 8px 25px;
    display: inline-block;
    
  }
  .vl1 {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1140px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .lyb{
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: rgb(129, 127, 127);
    padding: 8px -10px;
    display: inline-block;
    text-decoration: none;

  }
  .vl2 {
    border-left: 1px solid #999;
    height: 15px;
   margin-left: 1250px;
   /* margin-bottom: 10px; */
   position: absolute;
   top: 18px;
  }
  .login{
    
    font-size: 11px;
    /* border: 0; */
    color: rgb(129, 127, 127);
    padding: 8px -10px;
    display: inline-block;
    text-decoration: none;
margin-left: 20px;
  }

    .logo  {
        height: 60px;
        width: auto;
      margin-left: 135px;
      padding-top: 2px;
      
  }
  div input{
    margin-left: 480px;
    padding-left: 40px;
    height: 40px;
    width: 529px;
    display: inline-block;
    position: absolute;
    top: 55px;
  }
  div i{
    margin-left: 440px;
    height: 40px;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: 68px;
  }
  .btn{
    background-color: #ef534e;
    color: #fff;
    border: 1px solid transparent;
    padding: 6px 18px;
    font-size: 14px;

    margin-left: 952.5px;
    height: 43px;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 55px;



}

#nav2 div{
display: flex;
margin: auto;
width: 80%;


}
#nav2 div a{
  text-decoration: none;

}
#nav2 div p{
    margin-top: 80px;
    height: 30px;
    width:fit-content;
    /* text-align:center; */
    margin-left: -40px;
    color: black;
    font-weight: bold;
  


}

 
#nav2 img{
    
    height: 30px;
    margin-top: 35px;
    /* justify-content: space-between; */
    padding-left: 70px;
    /* padding-right: 30px; */
    
    
} 

#line1{
    margin-top: 40px;
}


/* slider */
/* upper section css */
.upper-section{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
 }

.upper-section div{
  padding: 30px 8px;
  /* border: 2px solid red; */
}
.upper-section div:hover{
  /* background-color: #CFD8DC; */
 margin-top: 6px;
 margin-bottom: 6px;
 
}


.upper-section img {
  width: 100%;
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.upper-section P{
  text-align: center;
  color: #333;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.upper-section>div:hover{
  /* box-sizing:; */
  color: aqua;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* upper section 1 slider 1*/


/* .upper-section-1-slider-1{
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  margin-top: 35px;
}

.upper-section-1-slider-1 div{
  justify-content: space-evenly;
}

.upper-section-1-slider-1 img{
  width: 100%;
  height: 150px;
  width: 150px;
  gap: 40px;
} */



/* upper section 2 slider 2*/

.upper-section-2-slider-2{
 width: 100%;
 display: flex;
 margin-top: 50px;
}
.swiper{
  width: 100%;
  }
.swiper-slide img {
  width: 100%;
  height: 100%;
  padding-bottom: 14px;
}

.box h1{
margin-top: 40px;
margin-left: 150px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: -20px;
font-weight:lighter;
}
.box2 h1{
  margin-top: -20px;
margin-left: 150px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: -20px;
font-weight:lighter;
}
.buffet div{
  display: flex ;
 
}
.buffet{
  margin-left: 133px;
  margin-top: 30px;
}
.buffet div img{
height: 120px;
width: 200px;
margin-left: 20px;

}
.box3 h1{
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.auto{
  display: flex;
  margin: auto;
  width: 80%;
}
.auto img{
  width: 90%;
  padding:20 px;
  padding-left:20px ;
  margin-left: -12px;
}

.offers{
  display: flex;
  margin: auto;
  width: 80%;
}
.offers img{
  width: 100%;
  /* padding-left: 10px;
  padding-right: 10px; */


}
.services{
  display: flex;
  margin: auto;
  width: 80%;
}
.services img{
  width: 90%;
}
.services div p{
color: #666;
}

.services div p,h2{
  margin-left: 10px;
  margin-top: 8px;
}
/* promocode */
/* .promo-code{
  display: flex;
  margin: auto;
  width: 80%;
}

.promo-code{
  width: 100%;
} */


.promo-code{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0px 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.promo{
    border: 1px dashed gray;
}
.promo-code img{
    width: 100%;
}
.promo-code p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3px;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #757575;
}